*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #726cdc;
  font-family: sans-serif;
}
header{
  display: flex;
  background-color: #726cdc;
  justify-content: space-between;
  align-items: center;
}

.menu, a, button{
  font-family: 'Montserrat';
  font-weight: 300;
  font-size:  18px;
  text-decoration: none;
}
.logo{
  padding: 10px 10px;
}
.menu li{
  list-style: none;
  display: inline-block;
  padding: 30px 30px;
}

.menu li a{
  color: white;
  transition: .4s;
}

.menu li a:hover{
  text-decoration: underline;
}

.titn{
  color: white;
  font-family: sans-serif;
  text-align: center;
    margin-top: 8%;
}

.tite{
  color: white;
  font-family: sans-serif;
  text-align: center;
    margin-top: 24%;
}

.notifiche{
  width: 80%;
  height: 30%;
  background-color: blue;
  margin-left: 15%;
  margin-top: 5%;
}

.n1, .n2, .n3{
  float: left;
  padding: 20px 20px;
  border:3px solid #fff;
  margin-left: 2%;
  transition: ease.4s ;
  color: white;
  font-family: sans-serif;
}

.n1:hover, .n2:hover, .n3:hover{
  width: 30%;
  margin-left: 4%;
}

.utente{
  margin-bottom: 5%;
}
.e1, .e2, .e3{
  color: white;
  text-align: center;
  border:3px solid #fff;
  width: 20%;
  height: 8%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  padding: 10px 0px;
  transition: ease.4s;
}

.eventi{
  margin-bottom: 5%;
}

.e1:hover, .e2:hover, .e3:hover{
  width: 30%;
  font-size: 18px;
}

footer{
  width: 100%;
  text-align:center;
  padding: 20px 20px;
  background-color: #5dacf3;
}
